*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, sans-serif;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    background-color: darkslategrey;
    padding: 10px;
}

.logo{
    color: white;

}